<header class="header">
  <h1 class="header-title">Websocket, Handlebars y Mongo</h1>
  <nav class="nav">
    <ul class="nav-list">
      <li><a href="/api/products" class="nav-link">Todos los Productos</a></li>
      <li><a href="/api/realtimeproducts" class="nav-link">Productos en Tiempo Real</a></li>
      <li><a href="/carts/67e4caa72fb50d3f28029ab4" class="nav-link">Ver carrito</a>


</li>
    </ul>
  </nav>
</header>
