<header class="header">
  <h1 class="header-title">Websocket y Handlebars</h1>
  <nav class="nav">
    <ul class="nav-list">
      <li><a href="/api/products" class="nav-link">Todos los Productos</a></li>
      <li><a href="/api/realtimeproducts" class="nav-link">Productos en Tiempo Real</a></li>
      <li><a href="/carts/65fbec26b5f6d0d8e88e2345" class="nav-link">🛒 Ver carrito</a></li>
    </ul>
  </nav>
</header>
