<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Websocket y Hbs</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    {{> header}}
    
    <main>
      {{{body}}}
    </main>

    {{> footer}}
 
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/index.js"></script>
    <script src="/js/form.js"></script>
    <script type="module" src="/js/products.js"></script>
    <script  src="/js/cart.js"></script>
  </body>
</html>